name: Update Investment Data

on:
  workflow_dispatch:
  schedule:
    - cron: '30 * * * *' # Runs at 30 minutes past the hour, every hour

jobs:
  update-data:
    runs-on: self-hosted

    steps:
    - name: Run daily update script in container
      uses: addnab/docker-run-action@v3
      with:
        registry: docker.io
        image: chenditc/investment_data:latest
        options: --pull always --name daily_dolt_update -v dolt_update:/dolt --rm
        run: |
          # Set up Dolt configurations from secrets
          mkdir -p /root/.dolt/creds
          echo '${{ secrets.DOLT_CONFIG_GLOBAL_JSON }}' > /root/.dolt/config_global.json
          echo '${{ secrets.DOLT_JWK }}' > /root/.dolt/creds/j6ooicvf6t6a0c18pinnr0p6ao69eglbcsfmmh2247d50.jwk

          # Execute the daily update script
          bash -c "TUSHARE=${{ secrets.TUSHARE }} bash daily_update.sh"
